
---
import Accounting from "../icons/Accounting.astro";
import Business from "../icons/Business.astro";
import Payroll from "../icons/Payroll.astro";
import Remote from "../icons/Remote.astro";


const model = Astro.props;
const slug = model.slug;
const { title, description, graphic } = model.data;


const graphics = { Accounting, Business, Payroll, Remote };
const GraphicComponent = graphics[graphic]; 
---


<article class="group max-w-[500px] bg-blue p-4 m-4 transition hover:shadow-md sm:p-6 bg-white prose-base">
    <a href={`/service/${slug}`}>
    <span class="inline-block p-2 text-primaryLight">
        {GraphicComponent ? <GraphicComponent /> : null}
    </span>

    
        <h3 class="mt-0.5 text-lg font-medium line-clamp-1 text-gray-900"
            transition:name={`service-title-${slug}`}
        >
            {title}
        </h3>
    

    <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
        {description}
    </p>

    <a
        href={`/service/${slug}`}
        class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600"
    >
        czytaj więcej

        <span
            aria-hidden="true"
            class="block transition-all group-hover:ms-0.5 rtl:rotate-180"
        >
            &rarr;
        </span>
    </a>
    </a>
</article>
